<div class="tg-topbar tg-haslayout">
    <div class="container bg-transparent">
        <div class="row text-secondary">
            <div class="col-sm-12 col-xs-12">
                <ul class="tg-addressinfo">
                    <li>
                        <i class="lnr lnr-envelope"></i>
                        <a href="mailto:info@domain.com">info@domain.com</a>
                    </li>
                    <li>
                        <i class="lnr lnr-phone-handset"></i>
                        <span>+4 1234 567890</span>
                    </li>
                </ul>
                <div class="tg-themedropdown tg-languagesdropdown">
                    <a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <em><img src="/images/flags/img-01.jpg" alt="image description"></em>
                        <span>eng</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="tg-dropdownmenu" aria-labelledby="tg-languages">
                        <li>
                            <a href="#">
                                <em><img src="/images/flags/img-02.jpg" alt="image description"></em>
                                <span>chi</span>
                            </a>
                        </li>
                        <li class="tg-active">
                            <a href="#">
                                <em><img src="/images/flags/img-03.jpg" alt="image description"></em>
                                <span>eng</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <em><img src="/images/flags/img-04.jpg" alt="image description"></em>
                                <span>rus</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tg-adminbox">
                    <div class="tg-loginregister">
                        <a class="tg-btnlogin" href="javascript:void(0);">Login</a>
                        <a class="tg-btnregister" href="javascript:void(0);">Register</a>
                    </div>
                    <div class="tg-useradminbox">
                        <div class="tg-themedropdown tg-userdropdown">
                            <a href="javascript:void(0);" id="tg-usermenu" class="tg-btndropdown rounded border-0">
                                <span class="lnr lnr-users float-left" style="font-size: 1.5em;"></span>
                                <span class="float-right"> &nbsp Connexion | S'inscrire</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Top BAr -->

<!--begen menu under top -->
<div class="tg-navigationarea">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <strong class="tg-logo"><a href=""><img src="/img/logo.svg" style="height:40px;" alt="image description"></a></strong>
                <div class="tg-rightarea">
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Menu</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                            <ul>
                                <li class="current-menu-item">
                                    <a href="#">Accueil</a>
                                </li>
                                <li class="">
                                    <a href="#">Apropos</a>
                                </li>
                                <li class="">
                                    <a href="#">Offre</a>
                                </li>
                                <li class="">
                                    <a href="#">Demande</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="javascript:void(0);">Categories</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Automotive</a>
                                            <ul class="sub-menu">
                                                <li><a href="categories3col.html">Catagories</a></li>
                                                <li><a href="categories4col.html">Catagories 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <a class="tg-btn tg-btnpostanewjob" href="">Poster un annonce</a>
                </div>
            </div>
        </div>
    </div>
</div>