<div class="row">
    <div class="col-12 p-0">
        <div class="contenair-header-menu">

            <nav class="navbar navbar-expand bg-gray py-0 navbar-head">
            <div class="container border-0">
                <div class="d-flex flex-column flex-md-row w-100 align-items-center justify-content-center justify-content-sm-around">
                    <div class="d-flex flex-sm-row w-100 flex-column justify-content-sm-around align-items-center justify-content-center">
                        <a class="text-decoration-none" href="{{ absolute_url('/') }}">
                        <img class="logo" src="{{ absolute_url('/assets/img/logo.png') }}"></img>
                        </a>

                        <ul class="navbar-nav mt-2 mt-lg-0">
                            <li class="nav-item active">
                            <a class="nav-link" href="javascript:void();"><span class="d-flex align-content-baseline"><span class="lnr lnr-phone-handset text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap" style="font-size: 15px;">(102) 6666 8888</span></span></a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="javascript:void()"><span class="d-flex align-content-baseline"><span class="lnr lnr-envelope text-wite bg-warning p-1"></span> <span class="bg-darkgray p-1 text-nowrap text-lowercase" style="font-size: 15px;">info@thememove.com</span></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="inscription-group-boutton d-flex flex-column flex-sm-row justify-content-center align-items-center  text-center w-sm-75 w-100">
                        <span class="">
                            <a href="{{ path('particulier_post_ads') }}" class="btn btn-success float-right text-decoration-none border-0 btn-show-post-forms text-uppercase text-center text-nowrap mr-1">Je postule un projet</a>
                        </span>
                        <span class="mr-1">
                            <button class="btn btn-round bg-gray btn-singUp-particular font-weight-bold text-warning border-warning text-nowrap" type="button">
                                <i class="">👷🏾</i>  Se deconnecter
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            </nav>
            <!-- Navbar menu end here -->

            <!-- ############################# NAVBAR HERE LARGE -->

            <div class=" navbar bg-darkgray navbar-expand-lg fix-top py-0 navbar-menu">
            <div class="container">
                <button type="button" class="navbar-toggler btn-toggle-menu" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    </li>
                    <li class="nav-item"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Types des travaux</a>
                        <ul class="dropdown-menu megamenu">
                            <div class="row">
                                <li class="col-12 col-sm-4 text-center pb-4">
                                    <ul><li class="h6 text-warning border-bottom border-warning">INSTALLER</li></ul>
                                    <ul class="row text-centert" style=" list-style-type: none;">
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-1</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>

                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-2</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-3</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-12">
                                            <li><a href="#" class="text-warning pt-2">Voir tous les articles >></a></li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="col-12 col-sm-4 text-center pb-4">
                                    <ul><li class="h6 text-warning border-bottom border-warning">RENOVER</li></ul>
                                    <ul class="row text-centert" style=" list-style-type: none;">
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-1</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-2</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-3</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-12">
                                            <li><a href="#" class="text-warning pt-2">Voir tous les articles >></a></li>
                                        </div>
                                    </ul>
                            </li>
                            <li class="col-12 col-sm-4 text-center pb-4">
                                    <ul><li class="h6 text-warning border-bottom border-warning">AMENAGER SON INTERIEUR</li></ul>
                                    <ul class="row text-centert" style=" list-style-type: none;">
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-1</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>

                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-2</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-3</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-12">
                                            <li><a href="#" class="text-warning pt-2">Voir tous les articles >></a></li>
                                        </div>
                                    </ul>
                            </li>
                            <li class="col-12 col-sm-4 text-center pb-4">
                                    <ul><li class="h6 text-warning border-bottom border-warning">AMENAGER SON EXTERIEUR</li></ul>
                                    <ul class="row text-centert" style=" list-style-type: none;">
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-1</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>

                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-2</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-3</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-12 pt-2">
                                            <li><a href="#" class="text-warning">Voir tous les articles >></a></li>
                                        </div>
                                    </ul>
                            </li>
                            <li class="col-12 col-sm-4 text-center pb-4">
                                    <ul><li class="h6 text-warning border-bottom border-warning">CONSTRUIRE</li></ul>
                                    <ul class="row text-centert" style=" list-style-type: none;">
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-1</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>

                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-2</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-4 p-0">
                                        <li class="dropdown-header">Categorie-3</li>
                                        <li><a href="#">Article-1</a>
                                        </li>
                                        <li><a href="#">Article-2</a>
                                        </li>
                                        <li class="divider"></li>
                                        </div>
                                        <div class="col-12 pt-2">
                                            <li><a href="#" class="text-warning">Voir tous les articles >></a></li>
                                        </div>
                                    </ul>
                            </li>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Nos Tarif</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Comment ça marche</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Créer mon site internet</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link particular-dashbord-access">Parlez à nous</a>
                    </li>
                </ul>
                </div>
            </div>
            </div>
            <!-- ############################# END NAVBAR HERE LARGE -->
            <!-- Progress barr slid scroll -->
                <div class="progress-container fixed-top">
                    <div class="progress-bar" id="myBar"></div>
                </div>

        </div>
    </div>
</div>
<!-- End Row for Menu header -->
