<div class="container-fluid">
    <div class="row">
       
        <div class="col-12">
            <div class="row">
                <div class="tg-featuredprofiles">

                    <!--Begin Form serch -->

                    <div class="tg-searchbox pull-left caption">
                        <form class="tg-formtheme tg-formsearch">
                            <fieldset>
                                <legend class="text-nowrap h6">Recherchez des milliers de professionnels qualifiés</legend>
                                <div class="form-group">
                                    <input type="text" name="keyword" class="form-control" placeholder="Keyword">
                                </div>
                                <div class="form-group hidden-sm hidden-md hidden-lg">
                                    <input type="text" name="category" class="form-control" placeholder="Select Category">
                                </div>
                                <div class="form-group tg-inputwithicon">
                                    <div class="locate-me-wrap">
                                        <div id="location-pickr-map" class="elm-display-none"></div>
                                        <input type="text"  autocomplete="on" id="location-address" value="" name="geo_location" placeholder="Geo location" class="form-control">
                                        <a href="javascript:void(0);" class="geolocate"><i class="fa fa-crosshairs"></i></a>
                                        <a href="javascript:void(0);" class="geodistance"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <div class="geodistance_range elm-display-none">
                                            <div class="distance-ml">Distance in&nbsp;( Miles )<span> 50</span></div>
                                            <input type="hidden" name="geo_distance" value="50" class="geo_distance" />
                                            <div class="geo_distance" id="geo_distance"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group tg-select">
                                    <select>
                                        <option value="">Sélectionnez l'emplacement</option>
                                        <option value="aberdeen">Aberdeen</option>
                                        <option value="aldershot">Aldershot</option>
                                    </select>
                                </div>
                                <div class="form-group tg-select">
                                    <select>
                                        <option>États</option>
                                        <option>Manchester</option>
                                    </select>
                                </div>
                                <div class="form-group tg-select">
                                    <select>
                                        <option value="city">Ville</option>
                                        <option>Manchester</option>
                                        <option>Birmingham</option>
                                        <option>Bradford</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="zipcode" class="form-control" placeholder="zip code">
                                </div>
                                <div class="form-group">
                                    <div class="tg-checkbox">
                                        <input type="checkbox" id="tg-onlywithphoto" name="findonlywithprofilephoto" value="Find Only With Profile Photo">
                                        <label for="tg-onlywithphoto">Trouvez seulement avec photo de profil</label>
                                    </div>
                                </div>
                                <div class="tg-btns">
                                    <button class="tg-btn" type="submit">Recherche maintenant</button>
                                    <button class="tg-btn" type="reset">Effacer tous</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!--And Form serch -->
                    
                    <div id="tg-featuredprofileslider" class="tg-featuredprofileslider owl-carousel">
                        <div class="item tg-profile tg-featuredprofile">
                            <figure>
                                <img src="/img/slid1.gif" alt="image description">
                                <figcaption>
                                    <div class="tg-featuredprofilecontent">
                                        <div class="tg-contentbox">
                                            <div class="tg-companylogo"><a href="#"><img src="/images/logos/img-01.png" alt="image description"></a></div>
                                            <div class="tg-companycontent">

                                                <ul class="tg-tags">
                                                    <li><a class="tg-tag tg-featuredtag" href="#">En vedette</a></li>
                                                    <li><a class="tg-tag tg-verifiedtag" href="#">vérifié</a></li>
                                                </ul>
                                                <div class="tg-title">
                                                    <h3><a href="#">L'Avenir de Groupe Brillant <br> &amp; Companie</a></h3>
                                                </div>
                                                <ul class="tg-matadata">
                                                    <li><span class="tg-stars"><span></span></span></li>
                                                    <li>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                        <em>99% (1009 votes)</em>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                        <a class="tg-btn" href="listingdetail.html">Voir profile</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item tg-profile tg-featuredprofile">
                            <figure>
                                <img src="/img/slid2.gif" alt="image description">
                                <figcaption>
                                    <div class="tg-featuredprofilecontent">
                                        <div class="tg-contentbox">
                                            <div class="tg-companylogo"><a href="#"><img src="/images/logos/img-01.png" alt="image description"></a></div>
                                            <div class="tg-companycontent">
                                                <ul class="tg-tags">
                                                    <li><a class="tg-tag tg-featuredtag" href="#">En vedette</a></li>
                                                    <li><a class="tg-tag tg-verifiedtag" href="#">vérifié</a></li>
                                                </ul>
                                                <div class="tg-title">
                                                    <h3><a href="#">L'Avenir de Groupe Brillant <br> &amp; Companie</a></h3>
                                                </div>
                                                <ul class="tg-matadata">
                                                    <li><span class="tg-stars"><span></span></span></li>
                                                    <li>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                        <em>99% (1009 votes)</em>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="tg-btn" href="listingdetail.html">Voir profile</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item tg-profile tg-featuredprofile">
                            <figure>
                                <img src="/img/slid3.gif" alt="image description">
                                <figcaption>
                                    <div class="tg-featuredprofilecontent">
                                        <div class="tg-contentbox">
                                            <div class="tg-companylogo"><a href="#"><img src="/images/logos/img-01.png" alt="image description"></a></div>
                                            <div class="tg-companycontent">
                                                <ul class="tg-tags">
                                                    <li><a class="tg-tag tg-featuredtag" href="#">En vedette</a></li>
                                                    <li><a class="tg-tag tg-verifiedtag" href="#">vérifié</a></li>
                                                </ul>
                                                <div class="tg-title">
                                                    <h3><a href="#">L'Avenir de Groupe Brillant <br> &amp; Companie</a></h3>
                                                </div>
                                                <ul class="tg-matadata">
                                                    <li><span class="tg-stars"><span></span></span></li>
                                                    <li>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                        <em>99% (1009 votes)</em>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="tg-btn" href="listingdetail.html">Voir profile</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="item tg-profile tg-featuredprofile">
                            <figure>
                                <img src="/images/slider/img-04.jpg" alt="image description">
                                <figcaption>
                                    <div class="tg-featuredprofilecontent">
                                        <div class="tg-contentbox">
                                            <div class="tg-companylogo"><a href="#"><img src="/images/logos/img-01.png" alt="image description"></a></div>
                                            <div class="tg-companycontent">
                                                <ul class="tg-tags">
                                                    <li><a class="tg-tag tg-featuredtag" href="#">En vedette</a></li>
                                                    <li><a class="tg-tag tg-verifiedtag" href="#">vérifié</a></li>
                                                </ul>
                                                <div class="tg-title">
                                                    <h3><a href="#">L'Avenir de Groupe Brillant <br> &amp; Companie</h3>
                                                </div>
                                                <ul class="tg-matadata">
                                                    <li><span class="tg-stars"><span></span></span></li>
                                                    <li>
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                        <em>99% (1009 votes)</em>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <a class="tg-btn" href="listingdetail.html">Voir Profile</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>