
{% block body %}
    <div class="text-center">
        <img class="img-fluid img-fluid shadow" style="width: 5rem;" src="{{ absolute_url('/uploads/logo/') }}{{ category.icon }}" alt="">
    </div>
{% endblock %}
