{% extends 'base.html.twig' %}


{% block title %}Espace Admin!{% endblock %}

{% block body %}

    <!--Begin nav_bar api_admin space -->
    {% include "./admin/api_admin/nav_bar.html.twig" %}
    <!--End nav_bar api_admin space -->

<div class="example-wrapper h1">
  {{page_name |upper}}
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}
