<form method="post" action="{{ path('services_delete', {'id': service.id}) }}" >
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="col-lg-12 btn btn-danger"><i class="fa fa-times"></i> Supprimer</button>
</form>
