<form class="col-lg-4" method="post" action="{{ path('article_delete', {'id': article.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">    
    <button class="btn btn-danger" > OUI </button>
</form>
