
{% block body %}
    <div class="text-center">
        <img class="img-fluid img-fluid shadow" style="width: 60rem;" src="{{ absolute_url('/uploads/images/') }}{{ article.img }}" alt="">
    </div>
{% endblock %}
