{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
        <div class="modal-body">
            <span class="font-weight-bold " >Type:</span>{{ article.articleTitle }}
            <br>	
            <span class="font-weight-bold " >Date de création:</span>{{ article.articleDateCrea() | date('d/m/y H:m:s') }}<br>	
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
            data-dismiss="modal">
                NON
            </button>							
            {{ include('article/_delete_form.html.twig') }}
            
        </div>
{% endblock %}
